@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #64DD17;
    --cor-secundaria: #2196F3;
    --cor-fundo: #4CAF50;
    --cor-texto: darkgreen;
    --cor-form-fundo: #f9f9f9;
    --cor-form-borda: #ccc;
    --cor-form-texto: #333;
    --cor-form-botao: #2196F3;
    --cor-form-botao-texto: white;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: darkgreen;
    background-color: #4CAF50;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--cor-principal);
    color: white;
}

nav {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background-color: var(--cor-secundaria);
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    margin: 20px;
    color: darkgreen;
}

.img1 {
    width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    align-items: center;
}

.form-container {
    background-color: var(--cor-form-fundo);
    padding: 20px;
    border: 1px solid var(--cor-form-borda);
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--cor-form-texto);
}

.form-container .form-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--cor-form-borda);
    border-radius: 5px;
    font-size: 16px;
}

.form-container .form-submit {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-form-botao);
    color: var(--cor-form-botao-texto);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form-container .form-submit:hover {
    background-color: #1e88e5;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--cor-principal);
    color: white;
}

@media (max-width: 800px) {
    body {
        padding: 0 10px;
    }
    .img1 {
        height: auto;
        width: 100%;
    }
    .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    nav ul li {
        display: block;
        margin-right: 10px;
    }
}
